label{
    font-weight: bold;
}

#addGameContainer{
    background-color: var(--third-bg-color);
}

#addGameContainer button{
    background-color: var(--main-bg-color);
    border-radius: 10px;
    border: 0px;
    color: white;
    font-weight: bold;
    margin: 20px 10px 20px 10px;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

#addGameContainer button:hover{
    background-color: var(--second-bg-color);
    
}

#addGameContainer button:active {
  background-color: var(--second-bg-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#addGameContainer input[type=text], input[type=date]{
    border-radius: 10px;
    padding: 10px 10px 10px 40px;
    background-color: var(--main-bg-color);
    border: 0px;
    color: white;
    margin: 0px 10px 20px 10px;
    vertical-align: text-top;
  }

  #ratingValue{
      color: var(--main-bg-color);
      font-weight: bold;
  }

textarea::placeholder{
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

textarea{
  height: 1em;
  transition: all 0.99 ease;
  overflow: hidden;
}

  textarea:focus{
    height: 4em;
    background-color: white !important;
    background:var(--third-bg-color);
    color:var(--main-bg-color);
    font-weight: bold;
    overflow: auto;
  } 

  textarea:focus::placeholder{
    color:transparent !important;
  }

  .slider {
    -webkit-appearance: none;
    width: 40%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 4px 10px 20px 10px;
    vertical-align: text-top;
  }
  
  .slider:hover {
    opacity: 1;
  }


  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--main-bg-color);
    cursor: pointer;
  }  

  #addGameContainer input[type=text]:focus{
      background:var(--third-bg-color);
      color:var(--main-bg-color);
      font-weight: bold;
  }

  input::placeholder{
    color: black;
  }

  input:focus::placeholder{
    color: transparent;
  }

  #addGameGeneros{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px 300px 10px 150px;
  }

  .addGameCadaGenero{
      text-align: right;
  }

  #addGamePlataformas{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px 300px 10px 150px;
  }

  .addGameCadaPlatform{
      text-align: right;

  }

  .infoRequired{
      border: 1px solid red !important;
      background-color:rgb(245, 171, 171) !important ;
      border-radius: 10px;
      color: black !important;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: var(--main-bg-color);
    color: var(--third-bg-color);
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transition: all 0.99s ease;
  }

  .spanName{
    color: var(--logo-bg-color);
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }