@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #searchBar{
    display: grid !important;
    grid-template-columns: repeat(12, 1fr) !important;
    padding-top: 40px;
    margin-left: 5%;
  } 
 
  #searchBar input[type=text]{
    width: 65vw;
  }

  #searchBar input[type=button]{ 
    margin-bottom: -23px !important;
    /* height: 39px !important; */
  }
  
  #divSelects{
    display:flex;
    margin-left: 5%;
    
  }

  select{
    width: 40vw !important;
  }

  

  .btnAddGame{
    width: 80vw !important;
    margin-top: -10px;
    margin-bottom: 30px;
  }
  #games-container{
    grid-template-columns: 100%;
    margin-left: 10%;   
}
}

 @media only screen and (max-width: 768px) { 
  /*Tablets*/
  #searchBar input[type=button]{ 
    margin-bottom: -21px;
  }
  .btnAddGame{
    margin-top: -15px;
    margin-bottom: 25px;
  }
  #games-container{
    grid-template-columns: 100%;
    margin-left: 10%;   
}
} 


@media only screen and (min-width: 768px) {
  /*desktop*/
  #games-container{
    grid-template-columns: 25% 25% 25% 25%;  
    grid-gap: 5px !important; 
}
#searchBar input[type=button]{ 
  margin-bottom: -21px;
}

#divSelects{
  display:inline;
}

}

#homeContainer input[type=text]{
    background-color: var(--main-bg-color);
    border: 0px;
    color: white;
    /* background-image: url('../img/searchicon.png') !important; */
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }

 #homeContainer input[type=text]:focus{
      background:var(--third-bg-color);
      color:var(--main-bg-color);
      font-weight: bold;
      outline: none !important;
      /* background-image: url('../img/searchicon.png') !important; */
    background-position: 10px 10px 10px 5px;
    background-repeat: no-repeat;
  }
  
  #searchBar{
    display: inline-block;
    position: relative;
  }

  #searchBar input[type=button]{
    background-color: var(--main-bg-color) !important;
    background-image: url('../img/searchicon.png') !important;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 50px;
    height: 38px;
    padding: 10px 20px 0px 10px;
    margin-left: -25px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
  }


  input::placeholder{
    color: black;
  }

  input:focus::placeholder{
    color: transparent;
  }


  select.form-control{
    background-color: var(--main-bg-color) !important;
  }

  select.form-control:focus{
    background-color: var(--third-bg-color) !important;
  }
  

 #homeContainer{
   color:white;
 }

 #homeContainer button{
   padding: 5px 8px;
   margin: 20px 5px 20px 5px;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: all .2s linear;
 }

 #homeContainer button:hover{
   background-color: var(--main-bg-color);
   font-weight: bold;
   color:white;
 }

#games-container{
    display: grid;
    padding-left: 30px;
    color: black;
    position: relative;
    left: -12px;
}

.div_no_results{
   /*background-color: brown !important;*/
   position: relative;
   width:900px;
   padding: 50px 50px;
   background-color: transparent  !important;
   color: var(--main-bg-color);
   font-weight: bold;
   font-size: x-large;
   border-color: transparent !important;
   left: 530px;
}

#btnSearch{
  background-color: var(--main-bg-color);
  border-radius: 10px;
  border: 0px;
  color: white;
  font-weight: bold;
  margin: 20px 10px 20px 10px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

#btnSearch:hover{
  background-color: var(--second-bg-color);
}

#btnSearch:active {
  background-color: var(--second-bg-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.actualPagination{
    background-color: var(--main-bg-color);
    font-weight: bold;
}

.btnAddGame{
  color:var(--main-bg-color);
  display:inline-block !important;
  font-weight:bold;
  font-size:18px;
  position:relative;
  top:10px;
  background-color: var(--third-bg-color);
  border-radius: 10px;
  padding:9px 10px;
}

.btnAddGame:hover{
  background-color: var(--main-bg-color);
  cursor: pointer;
  color:var(--third-bg-color);
}