@media only screen and (max-width: 412px) { 
  .loader {
    left:30%;
    top:40%;
  }
}

@media only screen and (min-width: 412px) and (max-width: 600px) {
  /* For mobile phones: */
  .loader {
    left:34%;
    top:40%;
  }
  
}

@media only screen and (min-width: 600px) and (max-width: 768px) { 
  /* Tablets: */
  .loader {
    left:42%;
    top:40%;
  }  
}

@media only screen and (min-width: 768px) {
  /* Desktop: */
  .loader {
    left:40%;
    top:40%;
  }
  
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--main-bg-color);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }