@media only screen and (max-width: 600px) {
 .topnav-left :nth-child(2) {
  display: none;
 }
 
 .topnav-left :nth-child(1) {
  position:absolute;
  top:60px !important;
  padding-left: 0px !important;
  font-weight: bold;
  z-index: 999999999999;
  width: 100% !important;
  left: 0px;
 }

 .btnAddGame{
   display: none !important;
 }
 
 .topnav-right{
   width: 100%;
   display: flex;
   position: fixed;
   padding:20px 20px !important;
   font-size: larger;
   text-align: center;
   z-index: 999999999999;
 }
 .titleMenuMobile{
   width: 90%;
 }
}



.topnav {
    background-color: var(--main-bg-color);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .topnav a.pasive:hover {
  background-color: var(--second-bg-color);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--second-bg-color);
  color: white;
}

.topnav a.pasive {
  background-color: var(--third-bg-color);
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  font-family: var(--main-font-family);
  background-color: var(--logo-bg-color);
  padding:17px 50px 15px 50px;
  float: right;
}

.search{margin-right: 100px !important;
}